turnGame/
*.gradle
*.asset
*.json
*.meta
*.log
*.vsconfig

AntCompany/
2DGameBasic01/
Unity/My project/Library/
Unity/My project/UserSettings/
Unity/My project/obj/
Unity/My project/ProjectSettings/
Unity/AntCompany.zip
Unity/My project/.vs/My project/xs/UserPrefs.xml
Unity/My project/Assembly-CSharp.csproj
Unity/JuniorProgrammer_Prototype1/Library/
Unity/JuniorProgrammer_Prototype1/Temp/